<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PushBait</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">PushBait</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <!-- Links de Navegação -->
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                            <a class="nav-link active" href="/index">Início</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="/portfolio">Portfólio</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="/contato">Contato</a>
                    </li>
                </ul>

                <!-- Links à direita -->
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="btn btn-outline-light btn-extra-small me-2" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-light btn-extra-small" href="/cadastro">Cadastrar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <!-- Conteúdo da Página -->
    <div class="container mt-5">
        <h1 class="text-primary">Bem-vindo à PushBait!</h1>
        <p class="lead">App Java com Spring Boot.</p>
    </div>

    <!-- Custom JS -->
    <script src="/script/main.js"></script>

</body>
</html>